@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
/* 1font */
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
/* 2 font */
body {
  box-sizing: border-box;
  background: #89aaa9;
}
h1 {
  text-align: center;
  position: relative;
  font-family: "Mochiy Pop One", sans-serif;
  top: 1rem;
  font-weight: 700;
  user-select: none;
}

#copyBtn {
  position: relative;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  color: rgb(255, 215, 0, 0.5);
  user-select: none;
  left: 10%;
  bottom: 4.5rem;
}
#btn {
  position: relative;
  margin-left: 45%;
  border-right-width: 50%;
  top: 8rem;

  border-radius: 10px;
  padding: 7px;
  color: #fff;
  background: rgb(255, 215, 0);
  border: none;
}
.alert {
  display: none;
  position: relative;
  bottom: 4rem;
  left: 20px;
  top: -80px;
  height: 90px;
  width: 16rem;
  /* background: rgb(255, 215, 0, 0.5); */
  background: rgb(94, 194, 106, 0.8);
  border-radius: 10px 16px;
}
.alertMsg {
  font-family: "Dongle", sans-serif;
  font-size: 2.2rem;
  position: relative;
  color: #fff;
  left: 10px;
  top: 10px;
  user-select: none;
}
